.area_container {
	position: relative;
	padding:20px 0 0 20px;
}
.area {
	width:100%;
	border:1px solid grey;
	border-radius:5px;
}
.area_add {
	cursor: cell;
	box-shadow: 0 0 10px hsl(var(--primary));
}
.width {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
	line-height:1;
}
.length {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
	line-height:1;
}